{
  "api": {
    "sparql": {
      "uri": "https://query.wikidata.org/sparql"
    },
    "wikibase": {
      "uri": "https://www.wikidata.org/w/api.php"
    },
    "examples": {
      "server": "https://www.wikidata.org/",
      "apiPath": "w/api.php",
      "pageTitle": "Wikidata:SPARQL_query_service/queries/examples",
      "pagePathElement": "wiki/"
    },
    "urlShortener": "tinyurl",
    "query-builder": {
      "server": "https://query.wikidata.org/querybuilder/"
    }
  },
  "brand": {
    "title": "Localhost",
    "logo": "logo.svg",
    "favicon": "favicon.ico",
    "copyrightUrl": "https://www.wikidata.org/wiki/Special:MyLanguage/Wikidata:SPARQL_query_service/Copyright"
  },
  "location": {
    "root": "./",
    "index": "./index.html"
  },
  "showBanner": false,
  "prefixes": {},
  "rdfNamespacesNamespaceShortcuts": {
	"Wikidata": {
		"wikibase": "http://wikiba.se/ontology#",
		"wd": "http://www.wikidata.org/entity/",
		"wdt": "http://www.wikidata.org/prop/direct/",
		"wdtn": "http://www.wikidata.org/prop/direct-normalized/",
		"wds": "http://www.wikidata.org/entity/statement/",
		"p": "http://www.wikidata.org/prop/",
		"wdref": "http://www.wikidata.org/reference/",
		"wdv": "http://www.wikidata.org/value/",
		"ps": "http://www.wikidata.org/prop/statement/",
		"psv": "http://www.wikidata.org/prop/statement/value/",
		"psn": "http://www.wikidata.org/prop/statement/value-normalized/",
		"pq": "http://www.wikidata.org/prop/qualifier/",
		"pqv": "http://www.wikidata.org/prop/qualifier/value/",
		"pqn": "http://www.wikidata.org/prop/qualifier/value-normalized/",
		"pr": "http://www.wikidata.org/prop/reference/",
		"prv": "http://www.wikidata.org/prop/reference/value/",
		"prn": "http://www.wikidata.org/prop/reference/value-normalized/",
		"wdno": "http://www.wikidata.org/prop/novalue/",
		"wdata": "http://www.wikidata.org/wiki/Special:EntityData/"
	},
	"W3C": {
		"rdfs": "http://www.w3.org/2000/01/rdf-schema#",
		"rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
		"owl": "http://www.w3.org/2002/07/owl#",
		"skos": "http://www.w3.org/2004/02/skos/core#",
		"xsd": "http://www.w3.org/2001/XMLSchema#",
		"prov": "http://www.w3.org/ns/prov#",
		"ontolex": "http://www.w3.org/ns/lemon/ontolex#"
	},
	"Social/Other": {
		"schema": "http://schema.org/",
		"geo": "http://www.opengis.net/ont/geosparql#",
		"geof": "http://www.opengis.net/def/geosparql/function/",
		"dct": "http://purl.org/dc/terms/"
	},
	"Blazegraph": {
		"bd": "http://www.bigdata.com/rdf#",
		"bds": "http://www.bigdata.com/rdf/search#",
		"gas": "http://www.bigdata.com/rdf/gas#",
		"hint": "http://www.bigdata.com/queryHints#"
	}
  },
  "rdfNamespacesEntityTypes": {
	"http://www.wikidata.org/prop/direct/": "property",
	"http://www.wikidata.org/prop/direct-normalized/": "property",
	"http://www.wikidata.org/prop/": "property",
	"http://www.wikidata.org/prop/novalue/": "property",
	"http://www.wikidata.org/prop/statement/": "property",
	"http://www.wikidata.org/prop/statement/value/": "property",
	"http://www.wikidata.org/prop/statement/value-normalized/": "property",
	"http://www.wikidata.org/prop/qualifier/": "property",
	"http://www.wikidata.org/prop/qualifier/value/": "property",
	"http://www.wikidata.org/prop/qualifier/value-normalized/": "property",
	"http://www.wikidata.org/prop/reference/": "property",
	"http://www.wikidata.org/prop/reference/value/": "property",
	"http://www.wikidata.org/prop/reference/value-normalized/": "property",
	"http://www.wikidata.org/wiki/Special:EntityData/": "item",
	"http://www.wikidata.org/entity/": "item"
  },
  "rdfNamespacesStandardPrefixes": {
	"wd": "PREFIX wd: <http://www.wikidata.org/entity/>",
	"wdt": "PREFIX wdt: <http://www.wikidata.org/prop/direct/>",
	"wikibase": "PREFIX wikibase: <http://wikiba.se/ontology#>",
	"p": "PREFIX p: <http://www.wikidata.org/prop/>",
	"ps": "PREFIX ps: <http://www.wikidata.org/prop/statement/>",
	"pq": "PREFIX pq: <http://www.wikidata.org/prop/qualifier/>",
	"rdfs": "PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>",
	"bd": "PREFIX bd: <http://www.bigdata.com/rdf#>"
  },
  "sparqlKeywords": [
	"SELECT", "SELECT * WHERE {\n\n}", "SELECT (COUNT(*) AS ?count) WHERE {\n\n}",
	"SELECT ?item ?itemLabel WHERE {\n    SERVICE wikibase:label { bd:serviceParam wikibase:language \"[AUTO_LANGUAGE],en\". }\n}", "OPTIONAL", "OPTIONAL {\n\n}", "WHERE",
	"WHERE {\n\n}", "ORDER", "ORDER BY", "DISTINCT", "SERVICE",
	"SERVICE wikibase:label { bd:serviceParam wikibase:language \"[AUTO_LANGUAGE],en\". }", "BASE",
	"PREFIX", "REDUCED", "FROM", "LIMIT", "OFFSET", "HAVING", "UNION", "SAMPLE",
	"(SAMPLE() AS )", "COUNT", "(COUNT() AS )", "DESC", "DESC()", "ASC", "ASC()",
	"FILTER ()", "FILTER NOT EXISTS", "FILTER NOT EXISTS {\n\n}", "UNION", "UNION {\n\n}",
	"BIND", "BIND ()", "GROUP_CONCAT", "(GROUP_CONCAT() as )", "ORDER BY",
	"#defaultView:Map", "#defaultView:ImageGrid", "#defaultView:Map", "#defaultView:BubbleChart",
	"#defaultView:TreeMap", "#defaultView:Tree", "#defaultView:Timeline", "#defaultView:Dimensions", "#defaultView:Graph", "#defaultView:LineChart", "#defaultView:BarChart", "#defaultView:ScatterChart", "#defaultView:AreaChart",
	"SERVICE wikibase:around {\n    ?place wdt:P625 ?location.\n    bd:serviceParam wikibase:center \"[AUTO_COORDINATES]\" .\n    bd:serviceParam wikibase:radius \"1\" .\n    bd:serviceParam wikibase:distance ?dist.\n  }",
	"SERVICE wikibase:box {\n    ?place wdt:P625 ?location.\n    bd:serviceParam wikibase:cornerWest ? .\n    bd:serviceParam wikibase:cornerEast ? .\n  }",
	"hint:Query hint:optimizer \"None\".",
	"#TEMPLATE={ \"template\": { \"en\": \"Textual description of template, referencing ?var\" }, \"variables\": { \"?var\": { \"query\": \"SELECT ?id WHERE { ?id wdt:P31 wd:Q146. }\" } } }"
  ],
  "sparqlPredicates": [
	"wikibase:rank", "wikibase:badge", "wikibase:propertyType", "wikibase:directClaim",
	"wikibase:claim", "wikibase:statementProperty", "wikibase:statementValue",
	"wikibase:qualifier", "wikibase:qualifierValue", "wikibase:reference", "wikibase:referenceValue",
	"wikibase:statementValueNormalized", "wikibase:qualifierValueNormalized",
	"wikibase:referenceValueNormalized", "wikibase:novalue",
	"wikibase:Property", 
	"wikibase:Reference", "wikibase:Dump",
	"wikibase:PreferredRank", "wikibase:NormalRank", "wikibase:DeprecatedRank", "wikibase:BestRank",
	"wikibase:TimeValue", "wikibase:QuantityValue", "wikibase:GlobecoordinateValue",
	"wikibase:WikibaseItem", "wikibase:CommonsMedia", "wikibase:GlobeCoordinate",
	"wikibase:Monolingualtext", "wikibase:Quantity", "wikibase:String", "wikibase:Time",
	"wikibase:Url", "wikibase:ExternalId", "wikibase:WikibaseProperty", "wikibase:Math",
	"wikibase:statements", "wikibase:sitelinks",
	"wikibase:timeValue", "wikibase:timePrecision", "wikibase:timeTimezone", "wikibase:timeCalendarModel",
	"wikibase:quantityAmount", "wikibase:quantityUpperBound", "wikibase:quantityLowerBound",
	"wikibase:quantityUnit", "wikibase:quantityNormalized",
	"wikibase:geoLatitude", "wikibase:geoLongitude", "wikibase:geoPrecision", "wikibase:geoGlobe",
	"wikibase:wikiGroup",
	"wikibase:hasViolationForConstraint",
	"schema:about", "schema:name", "schema:description", "schema:dateModified",
	"schema:Article", "schema:inLanguage", "schema:isPartOf",
	"rdfs:label", "rdf:type",
	"skos:altLabel",
	"xsd:dateTime", "xsd:integer", "xsd:double", "xsd:decimal",
	"geo:wktLiteral",
	"owl:sameAs",
	"prov:wasDerivedFrom",
	"ontolex:LexicalEntry", "ontolex:Form", "ontolex:LexicalSense",
	"ontolex:lexicalForm", "ontolex:sense", "ontolex:representation",
	"wikibase:lemma", "wikibase:lexicalCategory", "wikibase:grammaticalFeature",
	"dct:language"
  ],
  "sparqlCustomFunctions": [
	"wikibase:isSomeValue",
	"wikibase:decodeUri"
  ]
}
